/*
Design selection.

- Font sizes(px).
10/12/14/16/18/20/24/30/36/44/52/62/74/86/98/

1rem = 10px

- Spacing System(px).
/2/4/8/12/16/24/32/48/64/80/96/128/

- Font Weights:

- Line Heights:
Default: 1

Colors:
Primary - #1c0b19
Tints - #1a1a1a
Shades - #72c1ff, #447499, #223a4c,#172733
Accents
Grey

Image Manipulator: exclusion, unset,screen,
difference,


*/

@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /*font-size 10px */
  /*10px / 16px = 0.625% */
  /* Percentage of user's browser font settings*/
  font-size: 62.5%;
}

body {
  font-family: "Alice", serif;
  background-color: #000;
  line-height: 1;
  font-weight: 700;
  border: 3px solid #223a4c;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

/*****************************/
/* General Reuseable Component
/*****************************/

/*****************************/
/* Header
/*****************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background-color: #1a1a1a;
  color: #fff;
}

.logo-image {
  width: 2.5rem;
  height: auto;
  filter: brightness(0.8);
  -webkit-filter: brightness(0.8);
  mix-blend-mode: unset;
}

.writing {
  display: block;
  text-decoration: none;
  font-size: 1.5rem;
  color: #f3eff5;
  margin-right: 1rem;
}

.writing:hover,
.writing:active {
  color: #447499;
  transition: all 0.3s;
}

.git-email-link {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1rem;
}

.git-email-link li {
  margin-right: 1.25rem;
}

.linkend {
  display: block;
  position: relative;
  perspective: 1000px;
}
.linkend-image {
  height: 1.875rem;
  border-radius: 0.3125rem;
  opacity: 0.8;
  outline: none;
  transition: transform 0.7s ease;
  -webkit-transition: transform 0.7s ease;
  -moz-transition: transform 0.7s ease;
  -ms-transition: transform 0.7s ease;
  -o-transition: transform 0.7s ease;
}

.linkend:hover .linkend-image {
  transform: translateY(-2px) translateZ(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(-2px) translateZ(10px);
  -moz-transform: translateY(-2px) translateZ(10px);
  -ms-transform: translateY(-2px) translateZ(10px);
  -o-transform: translateY(-2px) translateZ(10px);
}

.github {
  display: block;
  position: relative;
  perspective: 1000px;
}

.git-image {
  height: 1.875rem;
  transition: transform 0.6s ease;
  -webkit-transition: transform 0.6s ease;
  -moz-transition: transform 0.6s ease;
  -ms-transition: transform 0.6s ease;
  -o-transition: transform 0.6s ease;
}

.git-image:hover {
  transform: translateY(-3px) translateZ(10px);
  -webkit-transform: translateY(-3px) translateZ(10px);
  -moz-transform: translateY(-3px) translateZ(10px);
  -ms-transform: translateY(-3px) translateZ(10px);
  -o-transform: translateY(-3px) translateZ(10px);
}

.email {
  font-size: 1.5rem;
  color: #f3eff5;
  text-decoration: none;
}

.email:hover {
  color: #447499;
  transition: all 0.3s;
}

/*****************************/
/* Section Hero
/*****************************/
.section-hero {
  background-color: #0d0d0d;
  padding: 4.8rem 0 9.6rem 0;
}

.hero-box {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 6.6rem;
}

.straightline {
  position: relative;
  margin-bottom: 5rem;
}

.straightline::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  border-top: 1px solid #ffffff;
}

.straightline::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  border-top: 1px solid #72c1ff;
  /* Additional styles */
  transform: translateY(-50%);
  width: 100%;
  margin: 0 auto;
}

.hero-top-title {
  color: #f3eff5;
}

.Name {
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #f3eff5;
  display: inline-block;
  position: relative;
}

.last-dot::after {
  content: ".";
  font-size: 1.7em;
  top: -0.4em;
  right: -0.3em;
  color: #447499;
}

.About-me {
  color: #aaa7ac;
  font-size: 1.5rem;
  line-height: 2;
  letter-spacing: -0.5px;
  margin-bottom: 2rem;
  font-weight: 200;
  text-align: justify;
}

.About-me:first-letter {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.scroll-link:link,
.scroll-link:visited {
  display: inline-block;
  padding: 0.625rem 1.25rem;
  background-color: #333;
  color: #f3eff5;
  text-decoration: none;
  border-radius: 0.3125rem;
  font-weight: 200;
  -webkit-border-radius: 0.3125rem;
  -moz-border-radius: 0.3125rem;
  -ms-border-radius: 0.3125rem;
  -o-border-radius: 0.3125rem;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.scroll-link:hover,
.scroll-link:active {
  background-color: #555;
}

.Hero-image-box {
  position: relative;
  perspective: 1000px;
}

.hero-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  filter: brightness(40%);
  -webkit-filter: brightness(40%);
  mix-blend-mode: unset;
  background-image: url(img/Tundepj.jpg);
  backdrop-filter: blur(0.625rem);
  border-radius: 0.9375rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.6s ease;
  -webkit-border-radius: 0.9375rem;
  -moz-border-radius: 0.9375rem;
  -ms-border-radius: 0.9375rem;
  -o-border-radius: 0.9375rem;
  -webkit-transition: transform 0.6s ease;
  -moz-transition: transform 0.6s ease;
  -ms-transition: transform 0.6s ease;
  -o-transition: transform 0.6s ease;
}

.hero-image:hover {
  transform: translateY(-10px) translateZ(20px);
}

.straightline-2 {
  position: relative;
  top: 5.6rem;
}

.straightline-2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  border-top: 1px solid #ffffff;
}

.straightline-2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  border-top: 1px solid #72c1ff;
  transform: translateY(-50%);
  width: 130rem;
  margin: 0 auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

/*****************************/
/* Section Two
/*****************************/

.section-two {
  background-color: #1a1a1a;
  padding: 2rem 0;
}

.skillset-box-1 {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 6.6rem;
}

.skillset-title {
  color: #72c1ff;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.skill-description span {
  color: #f3eff5;
  display: block;
  opacity: 0;
  transform: translateY(20px);
  animation: fade-in 3s ease-in-out forwards infinite;
  -webkit-animation: fade-in 3s ease-in-out forwards infinite;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.skill-description span:nth-child(1) {
  animation-delay: 0.2s;
}

.skill-description span:nth-child(2) {
  animation-delay: 0.4s;
}

.skill-description span:nth-child(3) {
  animation-delay: 0.6s;
}

.skill-description span:nth-child(4) {
  animation-delay: 0.8s;
}

.skill-description {
  font-size: 4rem;
  line-height: 1.2;
  overflow: hidden;
  margin-bottom: 2rem;
  align-items: center;
}

.scroll-link-two:link,
.scroll-link-two:visited {
  display: inline-block;
  padding: 0.625rem 1.25rem;
  background-color: #333;
  color: #f3eff5;
  text-decoration: none;
  border-radius: 0.3125rem;
  font-weight: 200;
  margin-bottom: 2rem;
  -webkit-border-radius: 0.3125rem;
  -moz-border-radius: 0.3125rem;
  -ms-border-radius: 0.3125rem;
  -o-border-radius: 0.3125rem;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.scroll-link-two:hover,
.scroll-link-two:active {
  background-color: #555;
}

.My-Skill {
  grid-column: 2;
  color: #aaa7ac;
  font-size: 1.5rem;
  line-height: 2;
  letter-spacing: -0.5px;
  font-weight: 200;
  text-align: justify;
}

.My-Skill:first-letter {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.section-blog {
  background-color: #0d0d0d;
  padding: 4.8rem 0 9.6rem 0;
}

.blog-box {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;

  align-items: center;
}

.blog-heading {
  float: left;
  margin-bottom: 2rem;
}
.all-article-heading {
  float: right;
  clear: both;
  display: flex;
  margin-right: 5rem;
}
.latest {
  font-size: 2.5rem;
  color: #f3eff5;
}

.icon-tabler-article-filled-filled {
  margin-left: 8px;
  display: inline-block;
  vertical-align: middle;
}

.all-article-link {
  font-size: 1.5rem;
  color: #f3eff5;
  text-decoration: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.card-box {
  max-width: 130rem;
  margin: 2rem 0;
  border-radius: 10px; /* adjust this to control the roundness of the border */
  box-shadow: -5px 0px 12px -5px #225276;
}

.how-it-started {
  text-decoration: none;
}

.HowitStarted {
  color: #f3eff5;
  font-size: 1.75rem;
  padding: 2rem;
}

.intro {
  color: #aaa7ac;
  font-size: 1.5rem;
  line-height: 2;
  letter-spacing: -0.5px;
  padding: 2rem;
}

.section-footer {
  background-color: #1a1a1a;
  padding: 2rem 0;
}

.footer-box {
  max-width: 130rem;
  margin: 0 40rem;
  text-align: center;
  padding: 2rem 0;
  border-radius: 10px; /* adjust this to control the roundness of the border */
  box-shadow: -5px 0px 12px -5px #225276;
}

.get-in-touch {
  color: #f3eff5;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  margin: auto;
  padding-bottom: 2rem;
}

.want-to-work {
  font-size: 2rem;
  color: floralwhite;
  padding-bottom: 5rem;
}

.say-hell0:link,
.say-hell0:visited {
  font-size: 2rem;
  text-decoration: none;
  color: #72c1ff;
  display: inline-block;
  padding: 0.625rem 1.25rem;
  background-color: #0a0a0a;
  border-radius: 0.4375rem;
  font-weight: 700;
  margin-bottom: 2rem;
  transition: all 0.6s;
}

.say-hell0:hover,
.say-hell0:active {
  background-color: #222222;
}
