<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="/dist/static/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/portfolio.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alice&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Projects</title>
  </head>
  <body class="portfolio-body">
    <div id="header-placeholder">{% include 'header.html' %}</div>
    <section class="project-section">
      <div class="project-container">
        <div class="project-1">
          <h3 class="project-title">COMING SOON</h3>
        </div>
      </div>
    </section>
    <div id="footer-placeholder">{% include 'footer.html' %}</div>
    <script src="/static/javascript/script.js"></script>
  </body>
</html>
