<header class="header">
  <div class="logo">
    <img class="logo-image" alt="owner logo" src="/static/img/logo.png" />
  </div>
  <nav>
    <ul class="git-email-link">
      <li>
        <a class="writing" href="#section-two">Writing</a>
      </li>
      <li>
        <a
          class="linkend"
          href="https://www.linkedin.com/in/babatunde-kalejaiye-729248125/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            class="linkend-image"
            src="/static/img/linkend.png"
            alt="linkendln-logo"
          />
        </a>
      </li>
      <li>
        <a
          class="github"
          href="https://github.com/MetalHuman38"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img class="git-image" src="/static/img/github.png" alt="GitHub" />
        </a>
      </li>
      <li>
        <a
          class="email"
          href="mailto:yourname@example.com"
          target="_blank"
          rel="noopener noreferrer"
          >babsdevprogrammer@icloud.com</a
        >
      </li>
    </ul>
  </nav>
</header>
