<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/myFlaskapp/static/dist/output.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alice&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>thinkAlike</title>
  </head>
  <body class="main-page">
    <div id="header-placeholder">
      {% include 'header.html' %}
    </div>
    <main>
    <section class="section-hero">
      <div class="cube-line-container">
        <div class="cube-container">
          <div class="cube">
            <div class="face front"></div>
            <div class="face back"></div>
            <div class="face left"></div>
            <div class="face right"></div>
            <div class="face top"></div>
            <div class="face bottom"></div>
          </div>
        </div>
      </div>
      <div class="hero-box">
        <div class="hero-profile">
          <h1 class="hero-top-title">Hello, It's me</h1>
          <h1 class="Name">Babatunde<span class="last-dot"></spa></h1>
          <p class="About-me">
            Welcome to my page! I'm a passionate Software Engineer dedicated to creating amazing things with technology. I'm fascinated by how technology can transform our world and improve lives. With a focus on creativity, collaboration, and innovation, I love working with others to find unique solutions to complex problems. Whether it's building new applications or enhancing existing systems, my goal is to deliver the best user experience possible. If you're seeking a driven, creative, and challenge-loving software engineer, you've found the right person. Let's work together and bring your ideas to life!
          </p>
          <button id="cta-button" class="cta-button">Join Our Community!</button>

          <div class="testimonial-section">
            <div class="testimonial">
                <img src="../static/img/customer-6.jpg" alt="Testimonial 1">
                <p>"This community is amazing! I've learned so much."</p>
                <p>- Lola</p>
            </div>

            <div class="testimonial">
                <img src="../static/img/hannah.jpg" alt="Testimonial 2">
                <p>"I'm so grateful for the support I've received here."</p>
                <p>- Hannah</p>
            </div>

            <div class="testimonial">
                <img src="../static/img/dave.jpg" alt="Testimonial 3">
                <p>"I've met some of the most inspiring people in this community."</p>
                <p>- Dave</p>
            </div>
        </div>
        </div>
        <div class="Hero-image-box">
          <img src="../static/img/timage2.jpg" class="hero-image" alt="Website owner" />
        </div>
      </div>
      <div class="straightline-2"></div>
      <div class="straightline-2"></div>
      <!-- Subscription form inside a hidden modal -->
      <div id="modal-backdrop" class="modal-backdrop"></div>
      <div id="subscription-modal" class="modal" style="display:none;">
        <form action="/submit_form" method="POST">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name"><br>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email"><br>
            <input type="submit" value="Submit">
        </form>
        <button id="close-modal-button">Close</button>
    </section>
    <section class="section-two">
      <div class="skillset-box-1">
        <div class="Skillset">
          <h1 class="skillset-title">MY SKILLSET</h1>
          <h1 class="skill-description">
            <span>Graphic Design,</span>
            <span>front-end,</span>
            <span>back-end &</span>
            <span>User Experience</span>
          </h1>
          <a class="scroll-link-two" href="{{ url_for('portfolio') }}">EXPLORE MY WORK</a>
        </div>
          <div class="special-skill">
            <p class="My-Skill">
              I specialize in exceptional web application development. With expertise in front-end and back-end development, I write clean, efficient code for a superb user experience. Proficient in HTML, CSS, C++, I take pride in writing maintainable code that's easily understood and extended by fellow developers. If you're seeking an efficient Software engineer to bring your vision to life and make a real impact, let's connect!
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="section-blog">
      <div class="blog-box">
        <div class="blog">
          <div class="blog-heading">
            <h1 class="latest">
              Latest Articles
            </h1>
          </div>
          <div class="all-article-heading">
          <a class="all-article-link" href="{{ url_for('all_article') }}">
            All Articles
            <svg xmlns="http://www.w3.org/2000/svg" class="icon-tabler-article-filled-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M19 3a3 3 0 0 1 2.995 2.824l.005 .176v12a3 3 0 0 1 -2.824 2.995l-.176 .005h-14a3 3 0 0 1 -2.995 -2.824l-.005 -.176v-12a3 3 0 0 1 2.824 -2.995l.176 -.005h14zm-2 12h-10l-.117 .007a1 1 0 0 0 0 1.986l.117 .007h10l.117 -.007a1 1 0 0 0 0 -1.986l-.117 -.007zm0 -4h-10l-.117 .007a1 1 0 0 0 0 1.986l.117 .007h10l.117 -.007a1 1 0 0 0 0 -1.986l-.117 -.007zm0 -4h-10l-.117 .007a1 1 0 0 0 0 1.986l.117 .007h10l.117 -.007a1 1 0 0 0 0 -1.986l-.117 -.007z" stroke-width="0" fill="currentColor"></path>
           </svg>
          </a>
          </div>
          <div class="clearfix"></div>
          <div class="card-box">
            <a class="how-it-started" href="{{ url_for('article_leap_into_unknown') }}">
              <h3 class="HowitStarted">
                A Leap into the Unknown: My Transition from Marketing to Tech.
              </h3>
              <p class="intro">
                Venturing beyond the familiar buzz of marketing, I took a bold leap into the electrifying realm of technology. Walk with me as I recount my journey - the excitement, the challenges, the transformation - from orchestrating ad campaigns to mastering the art of code and innovation.
              </p>
            </a>

          </div>
          <div class="card-box-1">
            <a class="how-it-started" href="{{ url_for('rewinding_time') }}">
              <h3 class="HowitStarted">
                "Rewinding Time: 10 Years Back, 10 Life Changes I'd Make"
              </h3>
              <p class="intro">
                Reclaiming the Past: Envisioning a Decade Re-do with 10 Bold Life Alterations.
              </p>
            </a>
        </div>
        <div class="card-box-2">
          <a class="how-it-started" href="{{ url_for('rewrite_learning_curve') }}">
            <h3 class="HowitStarted">
            Rewriting the Learning Curve: Leveraging Present Wisdom for Past Skill Acquisition
            </h3>
            <p class="intro">
              Charting a New Course: A Thought-Provoking Exploration of How Current Knowledge Can Radically Alter Past Skill Learning Journeys.
            </p>
          </a>
      </div>
      </div>
      </div>
      <div class="straightline-2"></div>
    </section>
</main>
<footer class="section-footer">
  <h3 class="get-in-touch">Get in Touch</h3>
  <div class="footer-box">
    <p class="want-to-work">Want to work together or Have a Question?</p>
    <a
      class="say-hell0"
      href="mailto:babsdevprogrammer@icloud.com"
      target="_blank"
      rel="noopener noreferrer"
      >Say Hello 👋</a
    >
  </div>
  <div class="extra-details">
    <a class="resuming" href="#"> Resume</a>
    <p class="designed">Designed and Developed by Me.</p>
  </div>
  <div id="footer-placeholder">
    {% include 'footer.html' %}
  </div>
</footer>
<div id="custom-cursor"></div>
<script src="../static/javascript/script.js"></script>
  </body>
</html>
